@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --primary: #222;
    --secondary: #6464a4;
    --black:#000
}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}



body{
    min-height: 100vh;
    background: var(--primary);
}



.banner{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-box{
    position: relative;
    width: 600px;

}


.input-box input{
    width: 600px;
    padding: 20px;
    border: 1px solid  var(--secondary);
    outline: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: aliceblue;
    font-size: 16px;
    transition: 0.5s;
}


.input-box  span{
    position: absolute;
    left: 0;
    padding: 20px;
    pointer-events: none;
    font-size: 16px;
    color: aliceblue;
    transition: 0.5s;
}

.input-box input:focus ~span,
.input-box input:valid ~span{
    transform: translateX(20px) translateY(-10px);
    font-size: 14px;
    background: var(--secondary);
    padding: 4px  10px;
}


.container-cards{
    margin: 20px   5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    gap:20px;

}


.container-cards .card{
    background: var(--black);
    border: 2px solid  var(--secondary);
    padding: 10px;
    border-radius: 10px;
    width: 325px;
    display:flex;
    height: 630px;
    flex-direction: column;
    gap:10 px

}


.container-cards .card{
    color: aliceblue;
    text-align: center;
    margin: 5px;
    font-weight: bold;

}

.container-cards .card  p{

    font-weight: bold;
    color: aliceblue;
    text-align: center;
}

.container-cards  .card p span{
    font-weight: normal;
    
}

.container-cards .card button{
    background: var(--secondary);
    padding: 10px 20px;
    border-radius: 10px;
    

}

.card-snow-more{
    display: flex;
    width: 70%;
    gap :20px;
}


.card-snow-more p{
    color: aliceblue;
    font-size: 14 px;
    font-weight: bold;
    margin-top:  10px;
}


.card-snow-more p span{
    font-weight: normal;

  

}

.bx-arrow-back{
    color: aliceblue;
    font-size: 25px;
    cursor: pointer;
}